body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
}

/* sky-color:
  #4C0A51 - #291038 radial

  rgb(40,70,244), rbg(0,141,244), rgb(255, 0, 49);
*/

#corpo{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

#click{
  position: absolute;
  z-index: 3001;
  margin: 30px;

}

#rocket-container{
  z-index: 4001;
  position: absolute;
  top: 10px;
  width: 512px;
  height: 512px;
}

#rocket{
  background: url('imgs/rocket.svg') no-repeat;
  width: 512px;
  height: 512px;
  align-items: center;
  top: inherit;
}

#earth{
  width: 100%;
  height: calc(300%);
  background: linear-gradient(to bottom,rgb(28,25,41), rgb(7, 136, 223) );
  margin-top: -10px;
  position: relative;
}

#ground{
  width: 100%;
  height: calc(300%);
  position: relative;
  background: linear-gradient(to bottom, rgb(7, 136, 223), rgb(96,172,187), rgb(250, 253, 56) );
}

#nightSky{
  z-index: -1;
  width: calc(100%);
  height: calc(300%);
  background: url('imgs/star.svg'),
              radial-gradient(circle, rgb(46,51,79), rgb(24,23,36));
  position: relative;
  background-size: calc(100%*1.5);
  background-position: center;

}

#lostpilot{
  background: url('imgs/lostrocketeer.svg') no-repeat;
  position: absolute;
}

#earthBall{
  background: rgb(96,172,187);
  z-index: 1004;
  border-radius: 50%;
  background-position: center;
  width: 100%;
  position: absolute;
}

#earthImage{
  background: url("imgs/earth2.svg");
  width:100%;
  border-radius: 50%;
  background-position: center;
  position: absolute;
  z-index: 1005;
  background-size: 120%;
  /* animation: translateX 10S infinite; */
  animation: deslocateBack 7s infinite;

}

#canvasAviao{
  top: calc(66%);
}

#mountain{
  background: url('imgs/mountain.svg');
  transform: scale(4);
  position: absolute;
  background-position: center;
}

#balloon{
  background: url("imgs/balloon.svg") no-repeat;
  width: 300px;
  height: 490px;
  background-position: center;
  background-size: 150%;
  animation: shake 3s infinite;
  position: absolute;

}

#sun{
  background: url("imgs/sun.svg")no-repeat;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  left: calc(50% - 250px);
  background-position: center;
  transform: scale(1);
  top: calc(95% - 500px);
  animation: rotation 10s infinite;
  position: absolute;

}

#rainbow{
  background: url("imgs/raibow.svg") no-repeat;
  width: 100%;
  height: 80%;
  position: absolute; 
  background-position: center;
  transform: scale(1.2);
  top: 100px;
}


.clouds{
  width: 100%;
  top: 40%;
  position: absolute;
}

.cloud{
  background: url('imgs/cloud.svg') no-repeat;
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 3003;
}

.spot{
  border-radius: 50%;
  background: white;
  z-index: 2001;
  position: absolute;
  margin: 0;
  padding: 0;
}

.aviao{
  background: url('imgs/aviao.png') no-repeat;
  background-size: 50%;
  background-position: left;
  width: 620px;
  height: 370px;
  top: calc(80%);
  left: -100px;
  position: absolute;
  animation: translateX 10s infinite;
}

.pointc{
  width: 10px;
  height: 10px;
  position: relative;
  background: black;
  border-radius: 50%;
  margin: auto;
  top: auto;

}

.flameballs{
  background: url('imgs/flameball.svg') no-repeat;
  position: absolute;
  animation: shake 2s infinite;
}

.asteroids{
  background: url('imgs/asteroid.svg') no-repeat;
  position: absolute;
  animation: rotation 5s infinite;
}



@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(360deg);
		}
}

@-webkit-keyframes translateX  {
  from{
    -webkit-transform: translateX(0px);
  }
  to{
    -webkit-transform: translateX(calc(300%));
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate(-2px, 1px);
  }
  20%, 80% {
    transform: translate(1px, 2px);
  }
  30%, 50%, 70% {
    transform: translate(-1px, -2px);
  }
  40%, 60% {
    transform: translate(1px, 1px);
  }
  100%{
    transform: translate(1px, -1px);
  }
}

@keyframes deslocateBack{
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}
